<div class="wrapper">
  <nav class="navbar">
    <div class="navbar__items">
      <div class="hamburger">
        <span tabindex="1" class="material-symbols-rounded">menu_open</span>
      </div>
      <div class="navbar__menu display-flex j-space-between ">
        <div class="logo" tabindex="1">
          <!-- <img src="img/logo.png" alt="" /> -->
          <span> Intstitution Management</span>
        </div>
        <ul class="navbar__items display-flex">
          <l>
            <div class="chip bg-ter-c display-flex">
              <span class="material-symbols-rounded m-r-sm"> done </span>
              <%= claim["admin"] ? "admin" : claim["hod"] ? "HOD" : "STAFF" %>
            </div>
          </l>
          <li>
            <a href="/signout">
              <span class="material-symbols-rounded"> power_settings_new </span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="material-symbols-rounded"> notifications </span>
            </a>
          </li> -->
          <li class="profile">
            <span>
              <%= staff.fullName[0] %>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="sidebar">
    <ul class="sidebar__items" id="sidebar-items">
      <li class="sidebar__item <%= title === 'dashboard' ? 'active' : '' %> waves-effect waves-dark " id="dashboard"
        onclick="location.href='/dashboard'">
        <span class="material-symbols-rounded"> team_dashboard </span>
        <span class="sidebar__title">Dashboard</span>
      </li>

      <!-- <li class="sidebar__item <%= title === 'classes' ? 'active' : '' %> waves-effect waves-dark " id="classes"
        onclick="location.href='/classes'">
        <span class="material-symbols-rounded"> school </span>
        <span class="sidebar__title">Classes</span>
      </li> -->


      <li class="sidebar__item <%= title === 'notifications' ? 'active' : '' %> waves-effect waves-dark "
        id="notifications" onclick="location.href='/notifications'">
        <span class="material-symbols-rounded"> mark_unread_chat_alt </span>
        <span class="sidebar__title">Notifications</span>
      </li>
      <li class="sidebar__item <%= title === 'attendance' ? 'active' : '' %> waves-effect waves-dark " id="attendance"
        onclick="location.href='/attendance'">
        <span class="material-symbols-rounded"> event_available </span>
        <span class="sidebar__title">Attendance</span>
      </li>
      <li class="sidebar__item <%= title === 'subjects' ? 'active' : '' %> waves-effect waves-dark " id="subjects"
        onclick="location.href='/subjects'">
        <span class="material-symbols-rounded"> note_alt </span>
        <span class="sidebar__title">Subjects</span>
      </li>
      <li class="sidebar__item <%= title === 'users' ? 'active' : '' %> waves-effect waves-dark " id="users"
        onclick="location.href='/users'">
        <span class="material-symbols-rounded"> group </span>
        <span class="sidebar__title">Users</span>
      </li>
      <% if(claim["admin"] || claim["hod"]) { %>
        <li class="sidebar__item <%= title === 'staff control' ? 'active' : '' %> waves-effect waves-dark " id="users"
          onclick="location.href='/staffcontrol'">
          <span class="material-symbols-rounded"> admin_panel_settings </span>
          <span class="sidebar__title">Staff control</span>
        </li>
        <% } %>
          <li class="sidebar__item <%= title === 'create form' ? 'active' : '' %> waves-effect waves-dark "
            id="dynamicform" onclick="location.href='/dynamicform'">
            <span class="material-symbols-rounded"> description </span>
            <span class="sidebar__title">create forms</span>
          </li>
          <li class="sidebar__item <%= title === 'event' ? 'active' : '' %> waves-effect waves-dark " id="dynamicform"
            onclick="location.href='/events'">
            <span class="material-symbols-rounded"> celebration </span>
            <span class="sidebar__title">events</span>
          </li>
    </ul>
  </div>
</div>