<%- include('./includes/head.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <div class="wrapper">
      <div class="main-content">
        <%- include('./constants/loader.ejs') %>
          <div class="main-data">
            <h1 class="main-title">Mark <%= title %>
            </h1>
            <br />
            <div class="alert display-flex bg-pri-c p-sm m-b rounded elevation">
              <span class="material-symbols-rounded m-r">
                info
              </span>
              <p>
                Make sure to select correct subject before marking attendance
              </p>
              <span class="material-symbols-rounded m-r j-self-end alert-close" id="alert-close">
                close
              </span>
            </div>
            <div class="display-flex j-start elevation m-0 p-sm rounded" id="att-selections">
              <input type="text" name="date" style="width: 30%" class="datepicker input-control" />
              <!-- <span class="material-icons-outlined p" id="datepicker"
                  >calendar_month</span
                > -->
              <select name="branch" id="att-branch" class="m-l" <%=staff.department=="ALL" ? "" : "disabled" %>>
                <% if(staff.department=="ALL" ) { %>
                  <option value="CSE" selected>CSE</option>
                  <option value="ECE">ECE</option>
                  <option value="ISE">ISE</option>
                  <option value="MECH">MECH</option>
                  <option value="CIV">CIV</option>
                  <option value="ARC">ARC</option>
                  <option value="EEE">EEE</option>
                  <% } else { %>
                    <option value="<%= staff.department %>" selected>
                      <%= staff.department %>
                    </option>
                    <% }%>
              </select>
              <select name="sem" id="att-sem" class="m-l">
                <%if(claim['admin'] || claim['hod']) { %>
                  <option value="1">sem 1</option>
                  <option value="2">sem 2</option>
                  <option value="3">sem 3</option>
                  <option value="4">sem 4</option>
                  <option value="5">sem 5</option>
                  <option value="6">sem 6</option>
                  <option value="7">sem 7</option>
                  <option value="8">sem 8</option>
                  <% } else { %>
                    <% if(staff.semAssigned.length> 0) {
                      %>

                      <%for(let sem of staff.semAssigned) { %>
                        <option value="<%= sem %>">sem <%= sem %>
                        </option>

                        <% }%>
                          <% } else { %>
                            <p>No sem Assigned</p>
                            <% }%>
                              <%}%>





              </select>

              <select name="subject" id="dropdown-subjects" class="m-l">

              </select>
              <div class="btn-loader m-l m-r"></div>
              <div class="display-flex m-l" id="timestamp">
                <label>
                  <input name="group1" id="floor-inp" type="radio" checked />
                  <span id="floor"></span>
                </label>
                <label class="m-l">
                  <input name="group1" id="ceal-inp" type="radio" />
                  <span id="ceal"></span>
                </label>

              </div>
              <div class="m-l display-flex" id="custom-timestamp">
                <label>
                  <input type="checkbox" class="filled-in time-stamp-checkbox" />
                  <span>Custom-time</span>
                </label>

                <select name="customTime" id="customTime" class="m-l" style="display: none;">

                </select>
              </div>
            </div>
            <!-- <div class="elevated-card m-t" style="background-color: green; color: #fff;">
              <div class="display-flex j-start j-space-between">
                <h4 style="color: #fff;">Date: <span class="date-d"></span></h4>
                <h4 style="color: #fff;">Time: <span class="time-d"></span></h4>
              </div>
            </div> -->
            <br />
            <div class="alert display-flex bg-pri-c p-sm m-b rounded elevation">
              <span class="material-symbols-rounded m-r">
                info
              </span>
              <p>
                Users will load after a subject is selected
              </p>
              <span class="material-symbols-rounded m-r j-self-end alert-close" id="alert-close">
                close
              </span>
            </div>

            <div class="elevated-card p-sm m-b display-selected">
              <div class="display-flex j-start">
                <h4 class="bl m-r date">Date: <span></span> </h4>
                <!-- <h4 class="bl time">Time: <span></span> </h4> -->
              </div>
              <input type="text" name="searchuser" placeholder="search...">
            </div>
            <div class="elevated-card p14 br1">
              <h6>Attendance List</h6>
              <div class="table" id="attTable">
                <div class="progress">
                  <div class="indeterminate"></div>
                </div>
                <!-- TABLE -->
                <table id="att-table">
                  <tr>
                    <th>USN</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Sem</th>
                    <th>Section</th>
                    <th>Action</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
    <%- include('./includes/footer.ejs') %>