<%- include('./includes/head.ejs') %>
    <%- include('./includes/nav.ejs') %>
        <div class="wrapper">
            <div class="main-content">
                <%- include('./constants/loader.ejs') %>
                    <div class="main-data">
                        <h1 class="main-title">
                            <%= title %>
                        </h1>
                        <hr>
                        <br>
                        <!-- <div class="tabs">
                            <button class="tab-btn active" id="tab2-btn">
                                <span class="material-icons-outlined">list_alt</span> forms
                            </button>
                            <button class="tab-btn " id="tab1-btn">
                                <span class="material-icons-outlined">note_add</span> create form
                            </button>
                        </div> -->
                        <div class="div tab2 display-flex j-start a-start" id="tab2">
                            <div class="container display-grid m0" id="form-list">
                                <% if(forms.length> 0) { %> <% for(let form of forms) { const date=new
                                        Date(form.createdAt); var year=date.getFullYear(); var month=date.getMonth();
                                        var day=date.getDate(); var cDate=day+"/"+month+"/"+year %>
                                        <div class="card" id="formCard">
                                            <input type="hidden" name="docId" value="<%= form.id %>">
                                            <input type="hidden" name="formState" value="<%= form.isActive %>">
                                            <div class="display-flex p-lg flex-c bl">
                                                <div class="more-menu" id="more-menu">
                                                    <ul>
                                                        <%- include('./constants/btnloader.ejs') %>
                                                            <% if(form.isActive) { %>
                                                                <li id="formStateToggle">Disable</li>

                                                                <% }else{ %>
                                                                    <li id="formStateToggle">Enable</li>
                                                                    <% } %>
                                                                        <li class="delete" id="delete-form">Delete</li>
                                                    </ul>
                                                </div>
                                                <div class="display-flex j-space-between w100">
                                                    <h6 class="file-name-exp2 display-small">
                                                        <%= form.name %>
                                                    </h6>

                                                    <span class="material-icons-outlined more-vert" tabindex="1"
                                                        id="more-vert">
                                                        more_vert
                                                    </span>
                                                </div>

                                                <div class="chip <%= form.isActive ? 'bg-pri-c ' : ' bg-err-c ' %> inline-flex mx"
                                                    style="height: 26px;">
                                                    <span
                                                        class="material-icons-outlined chip-icon <%= form.isActive ? 'clr-pri-c ' : 'clr-err-c' %>    m-r-sm">
                                                        <%= form.isActive ? 'done' : 'close' %>
                                                    </span>
                                                    <%= form.isActive ? 'open' : 'closed' %>
                                                </div>

                                                <p class="desc-sm">
                                                    <%= form.description %>
                                                </p>

                                                <div class="media  display-flex m-t rounded-lg">
                                                    <img src="/img/<%= randomImg() %>" alt="">
                                                </div>

                                                <br>
                                                <div class="card-footer display-flex j-space-between w100 ">
                                                    <div class="inline-flex">
                                                        <span class="material-icons clr-tri-c">
                                                            description
                                                        </span>
                                                        <i class="text-sm display-flex flex-c j-start">
                                                            <%= timeSince(new Date(form.createdAt)) %> ago
                                                                <p>
                                                                    <%= form.sheetTitle %>
                                                                </p>
                                                        </i>
                                                        <br>
                                                    </div>

                                                    <button class="btnn btnn-rounded">View</button>
                                                </div>

                                            </div>

                                        </div>
                                        <% }%>
                                            <%} else { %>
                                                <h2>No Forms
                                                </h2>

                                                <% } %>
                            </div>

                            <div class="card w30 my pos-sticky" style="top: 10%;">
                                <div class="card-content display-flex flex-c">
                                    <form style="width: 100%;" id="create-form">
                                        <h5 class="headline5">Create form</h5>
                                        <div class="form-input">
                                            <label for="">Form Name</label>
                                            <input type="text" name="formName" id="" required />
                                        </div>
                                        <div class="form-input">
                                            <label for="">Description</label>
                                            <textarea class="materialize-textarea" id="w3review" name="w3review"
                                                rows="4" cols="50"></textarea>
                                        </div>
                                        <div class="form-input">
                                            <label for="">Form url</label>
                                            <input type="text" name="formUrl" id="" required />
                                        </div>
                                        <div class="form-input ">
                                            <label for="">Sheet Name</label>
                                            <input type="text" name="sheetName" id="" required />
                                            <span class="hint">case sensitive</span>
                                        </div>


                                        <div class="display-flex flex-c j-start" id="form-fields"
                                            style="margin-left: auto;">
                                            <div class="display-flex w100" id="column">
                                                <div class="form-input">
                                                    <label for="">Field Name</label>
                                                    <input type="text" name="fieldName" id="" required />
                                                </div>
                                                <div class="form-input m-l" style="float: right;">
                                                    <label for="type">Data type</label>
                                                    <select name="type" id="type" class="w100">
                                                        <option value="i">Integer </option>
                                                        <option value="s">String</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <span
                                                        class="material-symbols-rounded bg-pri-c .clr-pri-c m-l m-t2 icon-small p-sm"
                                                        id="form-increment">
                                                        add
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="switch m-t">
                                            <label>
                                                Inactive
                                                <input type="checkbox" checked>
                                                <span class="lever"></span>
                                                Active
                                            </label>
                                        </div>

                                        <button class="btnn w100 m-t2">
                                            <%- include('./constants/btnloader.ejs') %>
                                                Create
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>



                    </div>
            </div>
        </div>
        <!-- <button class="btnn btnn-icon floating-btn" id="edit">
            <span class="material-symbols-rounded"> refresh </span>
        </button> -->
        <%- include('./includes/footer.ejs') %>

            <% function randomImg(){ var imgArr=["bg1.jpg", "bg2.jpg" , "bg3.jpg" , "bg4.jpg" , "bg5.png" , "bg6.jpg"
                ,"bg7.jpg"]; var index=Math.floor(Math.random() * (imgArr.length)); return imgArr[index] ; } %>

                <% function timeSince(date) { var seconds=Math.floor((new Date() - date) / 1000); var
                    interval=Math.floor(seconds / 31536000); if (interval> 1) {
                    return interval + " years";
                    }
                    interval = Math.floor(seconds / 2592000);
                    if (interval > 1) {
                    return interval + " mon's";
                    }
                    interval = Math.floor(seconds / 86400);
                    if (interval > 1) {
                    return interval + " days";
                    }
                    interval = Math.floor(seconds / 3600);
                    if (interval > 1) {
                    return interval + " hrs";
                    }
                    interval = Math.floor(seconds / 60);
                    if (interval > 1) {
                    return interval + " mins";
                    }
                    return Math.floor(seconds) + " sec's";
                    } %>