<%- include('./includes/head.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <div class="wrapper">
      <div class="main-content">
        <%- include('./constants/loader.ejs') %>
          <div class="main-data">
            <h1 class="main-title">
              <%= title %>
            </h1>
          </div>
      </div>
    </div>
    <%- include('./includes/footer.ejs') %>