<%- include('./includes/head.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <div class="wrapper">
      <div class="main-content">
        <%- include('./constants/loader.ejs') %>
          <div class="main-data">
            <h1 class="main-title">Teachers</h1>
            <div class="description">Control saff memeber and provide privilage</div>
            <div class="tabs pos-sticky" style="top: 40px;">
              <button class="tab-btn active" id="tab2-btn">
                <span class="material-icons-outlined">manage_accounts</span> Staff
              </button>

              <button class="tab-btn" id="tab1-btn">
                <span class="material-icons-outlined">group_add</span> Add staff
              </button>
            </div>
            <!-- FORM -->
            <div class="tab1" id="tab1" style="display: none;">
              <form class="display-grid" id="email-verify-form">
                <div class="form-input">
                  <label for="">Email</label>
                  <input type="email" name="email" id="" />
                </div>
                <div class="form-input" id="email-ver" style="display: none;">
                  <label for="">enter code</label>
                  <input type="number" name="verificationCode" maxlength="6" value="" />
                </div>
                <button class="btnn btnn-small m-t" id="send-code">
                  <%- include('./constants/btnloader.ejs') %>

                    send email verification code
                </button>
                <div></div>
                <div class="msg">

                  <%- include('./constants/btnloader.ejs') %>
                </div>

              </form>

              <!-- form 2 -->
              <form class="" id="staffAuth" style="display: none;">
                <div class="form-input col s12">
                  <label for="fullName">Full Name</label>
                  <input type="text" name="fullName" id="fullName" required />
                </div>
                <div class="col">
                  <label for="department">Department</label>
                  <select name="branch" id="user-branch" class="" <%=staff.department=="ALL" ? "" : "disabled" %>>
                    <% if(staff.department=="ALL" ) { %>
                      <option value="CSE" selected>CSE</option>
                      <option value="ECE">ECE</option>
                      <option value="ISE">ISE</option>
                      <option value="MECH">MECH</option>
                      <option value="CIV">CIV</option>
                      <option value="ARC">ARC</option>
                      <option value="EEE">EEE</option>
                      <% } else { %>
                        <option value="<%= staff.department %>" selected>
                          <%= staff.department %>
                        </option>

                        <% }%>
                  </select>
                </div>
                <div class="col">
                  <label for="designation">Designation</label>
                  <select name="designation" id="designation" class="">
                    <option value="staff">Professor</option>
                    <!-- <option value="staff">Assistant Professor</option> -->
                    <option value="hod">HOD</option>
                  </select>
                </div>

                <p class="m-t">click on password reset while logging.</p>
                <button type="submit" class="btnn m-t" id="createStaffAuth">
                  <div class="btn-loader" style="justify-content: center"></div>
                  Create Staff
                </button>
              </form>
            </div>

            <!-- tab 2 -->
            <div class="div tab2" id="tab2">
              <div class="form-input">
                <!-- <label for="searchName">Search</label> -->
                <input type="text" name="search" id="filter" placeholder="Enter Name">
              </div>

              <ul class="collapsible" id="staff-List">
                <%if(staffs.length> 0) { %> <% let i=0; for(let teacher of staffs) { %>
                    <li class="results" style="border-left: 5px solid #386A20" data-id="<%= staff.id %>">
                      <div class="collapsible-header display-flex j-space-between">
                        <div class="display-flex j-start">
                          <img class="avatar" src="<%= teacher.avatar %>" alt="">
                          <p class="m-l bl file-name-exp1">
                            <%= teacher.fullName %>
                          </p>
                        </div>
                        <p>
                          <%= teacher.department %>
                        </p>
                        <p>
                          <%= teacher.designation.toUpperCase() %>
                        </p>
                        <% if(staff.id===teacher.id){ %>
                          <div class="chip bg-pri-c inline-flex mx" style="height: 26px;">
                            <span
                              class="material-icons-outlined chip-icon <%= claim ? 'clr-pri-c ' : 'clr-err-c' %>    m-r-sm">
                              done
                            </span>
                            you
                          </div>
                          <% }%>

                      </div>
                      <div class="collapsible-body">
                        <div class="display-flex j-space-between m-b">
                          <p>
                            <b>Full Name : </b>
                            <%= teacher.fullName %>
                          </p>

                        </div>
                        <div class="display-flex j-space-between m-b">
                          <p>
                            <b>Sem Assigned : </b>
                            <%= teacher.semAssigned %>
                          </p>

                        </div>
                        <div class="display-flex j-end">
                          <form action="/viewStaff" method="POST">
                            <input type="hidden" name="docId" value="<%= teacher.id%>">
                            <button class="btnn btnn-rounded-lg" id="view-staff">View More</button>
                          </form>
                        </div>

                      </div>
                    </li>
                    <% i +=1; }%>
              </ul>
              <%} else { %>
                <h2>No users</h2>
                <% } %>

            </div>

            <div class="preloader-wrapper small">
              <div class="spinner-layer ">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>

    <%- include('./includes/footer.ejs') %>