<%- include('./includes/head.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <div class="wrapper">
      <div class="main-content">
        <%- include('./constants/loader.ejs') %>
          <div class="main-data">
            <h1 class="main-title">Teachers</h1>
            <div class="description">Control saff memeber and provide privilage</div>
            <div class="tabs pos-sticky" style="top: 40px;">
              <button class="tab-btn active" id="tab2-btn">
                <span class="material-icons-outlined">manage_accounts</span> Saff
              </button>

              <button class="tab-btn" id="tab1-btn">
                <span class="material-icons-outlined">group_add</span> Add staff
              </button>

            </div>
            <!-- FORM -->
            <div class="tab2" id="tab2">
              <form class="display-grid" id="email-verify-form">
                <div class="form-input">
                  <label for="">Email</label>
                  <input type="email" name="email" id="" />
                </div>
                <div class="form-input" id="email-ver" style="display: none;">
                  <label for="">enter code</label>
                  <input type="number" name="verificationCode" maxlength="6" value="" />
                </div>
                <button class="btnn btnn-small m-t" id="send-code">
                  <%- include('./constants/btnloader.ejs') %>

                    send email verification code
                </button>
                <div></div>
                <div class="msg">

                  <%- include('./constants/btnloader.ejs') %>
                </div>

              </form>

              <!-- form 2 -->
              <form class="" id="staffAuth" style="display: none;">
                <div class="form-input col s12">
                  <label for="fullName">Full Name</label>
                  <input type="text" name="fullName" id="fullName" />
                </div>
                <div class="col">
                  <label for="department">Department</label>
                  <select name="department" id="department" class="">
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="ISE">ISE</option>
                    <option value="MECH">MECH</option>
                    <option value="CIV">CIV</option>
                    <option value="ARC">ARC</option>
                    <option value="EEE">EEE</option>
                  </select>
                </div>
                <div class="col">
                  <label for="designation">Designation</label>
                  <select name="designation" id="designation" class="">
                    <option value="staff">Professor</option>
                    <option value="staff">Assistant Professor</option>
                    <option value="hod">HOD</option>
                  </select>
                </div>
                <div class="checkbox col s12 m-t" id="checkbox">
                  <label for="form-sem">Assign sem</label>
                  <label>
                    <input type="checkbox" class="filled-in" value="1" />
                    <span>Sem 1</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="2" />
                    <span>sem 2</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="3" />
                    <span>sem 3</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="4" />
                    <span>sem 4</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="5" />
                    <span>sem 5</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="6" />
                    <span>sem 6</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="7" />
                    <span>sem 7</span>
                  </label>
                  <label>
                    <input type="checkbox" class="filled-in" value="8" />
                    <span>sem 8</span>
                  </label>
                </div>
                <p class="m-t">click on password reset while logging.</p>
                <button type="submit" class="btnn m-t" id="createStaffAuth">
                  <div class="btn-loader" style="justify-content: center"></div>
                  Create Staff
                </button>
              </form>
            </div>

            <!-- tab 2 -->
            <div class="div tab1" id="tab1" style="display: none;">
              <%if(staffs.length> 0) { %> <% let i=0; for(let staff of staffs) { %>
                  <ul class="collapsible" id="staff-List">
                    <li data-id="<%= staff.id %>">
                      <div class="collapsible-header display-flex">
                        <img class="avatar" src="<%= staff.avatar %>" alt="">
                        <%= staff.fullName %>
                          <%= staff.fullName %>
                      </div>
                    </li>
                  </ul>
                  <% i +=1; }%>
                    <%} else { %>
                      <h2>No users</h2>
                      <% } %>

            </div>



          </div>
      </div>
    </div>
    <%- include('./includes/footer.ejs') %>