<%- include('./includes/head.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <div class="wrapper">
      <div class="main-content">
        <%- include('./constants/loader.ejs') %>
          <div class="main-data">
            <h1 class="main-title">
              <%= title %>
            </h1>
            <div class="description">Modify and Add Subjects</div>
            <br />
            <hr />
            <br />
            <div class="alert display-flex bg-ter-c p-sm m-b rounded">
              <span class="material-symbols-rounded m-r">
                info
              </span>
              <p>
                select branch and sem before adding new subject
              </p>
              <span class="material-symbols-rounded m-r j-self-end alert-close" id="alert-close">
                close
              </span>

            </div>
            <div class="display-flex j-start">
              <div>
                <select name="branch" id="sub-branch" class="m-l" <%=staff.department=="ALL" ? "" : "disabled" %>>
                  <% if(staff.department=="ALL" ) { %>
                    <option value="CSE" selected>CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="ISE">ISE</option>
                    <option value="MECH">MECH</option>
                    <option value="CIV">CIV</option>
                    <option value="ARC">ARC</option>
                    <option value="EEE">EEE</option>
                    <% } else { %>
                      <option value="<%= staff.department %>" selected>
                        <%= staff.department %>
                      </option>
                      <% }%>
                </select>
              </div>
              <select name="sem" id="sub-sem" class="m-l">
                <% if(staff.semAssigned.length> 0) {
                  %>

                  <%for(let sem of staff.semAssigned) { %>
                    <option value="<%= sem %>">sem <%= sem %>
                    </option>

                    <% }%>
                      <% } else { %>
                        <p>No sem Assigned</p>
                        <% }%>
              </select>
              <button class="btnn m-l modal-trigger" data-target="modal1">Add New Subject</button>
            </div>
            <br />
            <div id="modal1" class="modal bottom-sheet">
              <div class="modal-content">
                <h4>New Subject</h4>
                <div class="alert display-flex bg-ter-c p-sm m-b rounded m-t">
                  <span class="material-symbols-rounded m-r">
                    info
                  </span>
                  <p>
                    select branch and sem before adding new subject
                  </p>
                  <span class="material-symbols-rounded m-r j-self-end" id="alert-close">
                    close
                  </span>
                </div>
                <div class="display-flex m-t">
                  <form id="new-subject-form">
                    <div class="form-input">
                      <label for="">Subject Name</label>
                      <input type="text" name="subjectName" id="" required>
                    </div>
                    <div class="form-input">
                      <label for="">Subject Code</label>
                      <input type="text" name="subId" id="" required>
                    </div>
                    <div class="form-input">
                      <label for="">Description</label>
                      <textarea class="materialize-textarea" id="w3review" name="description" rows="4"
                        cols="50"></textarea>
                    </div>
                    <button type="submit" class="btnn display-flex m-t">
                      <div class="btn-loader"></div>
                      Submit
                    </button>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
              </div>
            </div>

            <!-- dynamic content gets loaded -->
            <div class="row" id="subject-list">

            </div>
          </div>
      </div>
    </div>
    <%- include('./includes/footer.ejs') %>