<%- include('./includes/head.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <div class="wrapper">
      <div class="main-content">
        <%- include('./constants/loader.ejs') %>
          <div class="main-data">
            <h1 class="main-title">
              <%= title %>
            </h1>
            <br />
            <div class="alert display-flex bg-pri-c p-sm m-b rounded ">
              <span class="material-symbols-rounded m-r">
                info
              </span>
              <p>
                change sem to load users
              </p>
              <span class="material-symbols-rounded m-r j-self-end alert-close" id="alert-close">
                close
              </span>
            </div>
            <div class="alert display-flex bg-pri-c p-sm m-b rounded ">
              <span class="material-symbols-rounded m-r">
                info
              </span>
              <p>
                If branch is diabled you are only previleged to access to what you are assigned for
              </p>
              <span class="material-symbols-rounded m-r j-self-end alert-close" id="alert-close">
                close
              </span>
            </div>


            <div class="tab2" id="tab2">
              <div class="display-flex j-start">
                <div>
                  <select name="branch" id="user-branch" class="" <%=staff.department=="ALL" ? "" : "disabled" %>>
                    <% if(staff.department=="ALL" ) { %>
                      <option value="CSE" selected>CSE</option>
                      <option value="ECE">ECE</option>
                      <option value="ISE">ISE</option>
                      <option value="MECH">MECH</option>
                      <option value="CIV">CIV</option>
                      <option value="ARC">ARC</option>
                      <option value="EEE">EEE</option>
                      <% } else { %>
                        <option value="<%= staff.department %>" selected>
                          <%= staff.department %>
                        </option>

                        <% }%>
                  </select>
                </div>
                <select name="sem" id="user-sem" class="m-l">
                  <% if(staff.semAssigned.length> 0) {
                    %>

                    <%for(let sem of staff.semAssigned) { %>
                      <option value="<%= sem %>">sem <%= sem %>
                      </option>

                      <% }%>
                        <% } else { %>
                          <p>No sem Assigned</p>
                          <% }%>

                </select>
                <div class="m-l">
                  <input type="text" name="searchuser" id="search-user" placeholder="search">
                </div>
                <form class="m-l display-flex" id="add-usn">
                  <input type="text" maxlength="10" autocomplete="off" name="usn" id="usn" placeholder="USN"
                    VALUE="1BO<%= staff.department.slice(0,2) %>" required />
                  <button class="btnn falt-btnn m-l display-flex">
                    <div class="btn-loader"></div>
                    Add
                  </button>
                </form>

              </div>
              <div class="card p14 br1">
                <h6>Users List</h6>
                <div class="table" id="userTable">
                  <div class="progress">
                    <div class="indeterminate"></div>
                  </div>
                  <!-- TABLE -->
                  <table id="user-table">

                  </table>
                </div>
              </div>
            </div>

            <div class="tab1" id="tab1" style="display: none;">

            </div>
          </div>
      </div>
      <%- include('./includes/footer.ejs') %>
    </div>