<%- include('../includes/head.ejs') %>
    <div class="full-screen-view" id="staff-view">
        <div class="progress m0 pos-sticky">
            <div class="indeterminate"></div>
        </div>
        <input type="hidden" name="docId" value="<%= staff.id %>">
        <input type="hidden" name="claim" value="<%= claim %>">
        <input type="hidden" name="desg" value="<%= staff.designation %>">



        <header class="pos-sticky">
            <div class="elevation p-sm">
                <div class="container display-flex j-space-between ">
                    <div class="back display-flex">
                        <a href="/staffcontrol" id="back">
                            <span class="material-symbols-outlined p-sm bg-pri-c rounded-lg">
                                arrow_back
                            </span>
                        </a>
                        <div class="title m-l p-sm">
                            <h5 contenteditable="true" spellcheck="false" id="edit-name">
                                <%= staff.fullName %>
                            </h5>
                        </div>
                    </div>
                    <div class="action display-flex">
                        <div class="more-menu" id="more-menu" style="right: 25%; display: none;">
                            <ul>
                                <%- include('../constants/btnloader.ejs') %>

                                    <% if(claim) { %>

                                        <li id="userClaimToggle">Revoke privilege</li>

                                        <% }else{ %>
                                            <li id="userClaimToggle">Give privilege
                                            </li>
                                            <% } %>
                            </ul>
                        </div>
                        <div class="chip <%= claim ? 'bg-pri-c ' : ' bg-err-c ' %> inline-flex mx"
                            style="height: 26px;">
                            <span
                                class="material-icons-outlined chip-icon <%= claim ? 'clr-pri-c ' : 'clr-err-c' %>    m-r-sm">
                                <%= claim ? 'done' : 'close' %>
                            </span>
                            <%= claim ? 'privileged' : 'privilege revoked' %>
                        </div>

                        <span class="material-icons-outlined more-vert" tabindex="1" id="more-vert">
                            more_vert
                        </span>

                        <button class="btnn elevation-0 bg-err display-flex m-l" id="delete-staff">
                            <div class="btn-loader"></div>
                            Delete
                        </button>
                        <!-- <button class="btnn falt-btnn elevation-0" id="save">Save</button> -->
                    </div>

                </div>
            </div>
        </header>
        <br>
        <main>
            <div class="container">
                <div class="alert display-flex bg-ter-c p-sm m-b rounded">
                    <span class="material-symbols-rounded m-r">
                        info
                    </span>
                    <p>
                        To change department & designation delete user and create again

                    </p>
                </div>

                <div class="display-flex j-start m-b">
                    <div class="m-r">
                        <label for="department">Department</label>
                        <select name="department" id="department" class="">
                            <option selected>
                                <%= staff.department %>
                            </option>

                        </select>
                    </div>
                    <div class="col">
                        <label for="designation">Designation</label>
                        <select name="designation" id="designation" class="">
                            <option selected>
                                <%= staff.designation=="staff" ? "Professor" : "HOD" %>
                            </option>
                        </select>
                    </div>
                </div>


                <div class="elevated-card border-0 m-b">
                    <div class="card-content">
                        <h6 class="card-title">
                            Sem Assigned
                        </h6>
                        <p class="assignedSem m-t">
                            <%= staff.semAssigned %>
                        </p>

                        <div class="checkbox col s12 m-t" id="checkbox">
                            <label for="form-sem">Assign sem</label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="1"
                                    <%=staff.semAssigned.includes(1) ? "checked" : "" %> />
                                <span>Sem 1</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="2"
                                    <%=staff.semAssigned.includes(2) ? "checked" : "" %> />
                                <span>sem 2</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="3"
                                    <%=staff.semAssigned.includes(3) ? "checked" : "" %> />
                                <span>sem 3</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="4"
                                    <%=staff.semAssigned.includes(4) ? "checked" : "" %> />
                                <span>sem 4</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="5"
                                    <%=staff.semAssigned.includes(5) ? "checked" : "" %> />
                                <span>sem 5</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="6"
                                    <%=staff.semAssigned.includes(6) ? "checked" : "" %> />
                                <span>sem 6</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="7"
                                    <%=staff.semAssigned.includes(7) ? "checked" : "" %> />
                                <span>sem 7</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in semCheckbox" value="8"
                                    <%=staff.semAssigned.includes(8) ? "checked" : "" %> />
                                <span>sem 8</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="elevated-card m-b" id="load-subjects">
                    <h6 class="card-title">
                        New Subjects Assigning
                    </h6>
                    <div class="alert display-flex bg-ter-c p-sm m-b rounded">
                        <span class="material-symbols-rounded m-r">
                            info
                        </span>
                        <p>
                            To load subjects select sem above.
                        </p>
                    </div>
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="card-content row">

                    </div>
                </div>
                <div class="elevated-card border-0 m-b">
                    <div class="card-content">
                        <h6 class="card-title">
                            Subjects Assigned
                        </h6>

                        <div class="display-flex flex-c j-start m-t" id="subjects-list">
                            <div class="icon-loader" style="justify-content: center; display: none;">
                            </div>
                            <ul id="subjects-ul">
                                <% if(staff.subjectsAssigned.length> 0) {
                                    %>
                                    <% for(let subject of staff.subjectsAssigned){ %>

                                        <% var sub=subject.split("/") %>
                                            <li class="m-b p-sm bg-pri-c rounded">
                                                <input type="hidden" name="subjectValue" value="<%= subject %>">
                                                <p class="display-flex j-start j-space-between captize">

                                                    <b>
                                                        <%= sub[4] %>,
                                                            <i class="hint">
                                                                <%= sub[3].toUpperCase() %>
                                                            </i>

                                                    </b>
                                                    <span
                                                        class="material-symbols-rounded clr-err m-l del-icon rounded-sm p"
                                                        id="subject-delete-btn">

                                                        delete
                                                    </span>

                                                </p>
                                            </li>
                                            <% } %>
                                                <% } else { %>
                                                    <p>No Subjects Assigned</p>
                                                    <% }%>
                            </ul>


                        </div>
                    </div>
                </div>
                <br>
                <!-- <button class="btnn elevation-0 pos-abs m-r m-b">Save</button> -->
            </div>
        </main>
    </div>
    </div>
    <%- include('../includes/footer.ejs') %>